* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fcf3f3;
    background-image: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-2736499.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main_container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;

  }
  
  .container_left,
  .container_right {
    background-color:  #cdcad1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}
  
  h1 {
    font-size: 28px;
    margin-bottom: 30px; 
    font-style: italic;
  }
  
  .projects,
  .todos {
    margin-top: 30px;
  }
  
  .projectinput {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  .submitbutton,
  .todo_buttons {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #538f8f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .submitbutton:hover,
  .todo_buttons:hover {
    background-color: #2c5764;
  }
  
  .projecttab,
  .todotab {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .projectclick {
    cursor: pointer;
  }
  
  .selected {
    /* Add styling for selected project tabs here */
    background-color: rgb(151, 141, 141); /* Light gray background */
    border: 2px solid #00bcd4; /* Light blue border */
    border-radius: 5px; /* Rounded corners */
  }
  
  .deletebuttonpj,
  .deletebutton {
    background-color: #0f5f54;
    color: rgb(185, 96, 96);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 24px;
  }
  
  
  
  .todo-form {
    border: 2px solid rgb(189, 170, 170);
    margin: 30px 0;
    padding: 20px;
  }
  
  .todo-form input[type="text"],
  .todo-form input[type="date"],
  .todo-form input[type="number"],
  .todo-form button[type="submit"] {
    display: block;
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
  }
  
  .todo-form button[type="submit"] {
    background-color: #295a66;
    color: #f0eaea;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .todo-form button[type="submit"]:hover {
    background-color: #3a6e77;
  }
  
 
  
  .container_left {
    width: 30%;
    float: left;
    margin-left: -300px;
    margin-top: 30px;
  }
  
  .container_right {
    width: 30%;
  margin-right: 600px;
    margin-left: -800px;
   margin-top: 20px;
  
  }